apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
      - name: wait-for-db
        image: busybox
        command:
        - sh
        - -c
        - |
          until nc -z backend 3306;
          do echo waiting for database;
          sleep 2;
          done;

      containers:
      - name: todolist
        image: ghcr.io/bennyro-mta/todolist:1.9
        ports:
        - containerPort: 5000

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /livez
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /readyz
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

        envFrom:
        - configMapRef:
            name: todolist-config

        env:
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: todolist-secret
              key: MYSQL_ROOT_PASSWORD
